.cards-container {
  padding: 0 40px;
  position: relative;
  display: grid;
  flex: 1;
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
  z-index: 10;
}

.cards-container.loading {
  grid-template-columns: 1fr;
}

.loading-container {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.loading-container h3 {
  font-weight: 700;
  font-size: 3rem;
}
